@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Neucha&display=swap);


* {
  margin: 0;
  padding: 0;
  outline: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #03192E;
  color: #FFF;
  font-family: 'Patrick Hand', cursive;
  text-align: center;
}

button {
  color: #04223e;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #5c2fa5;
  margin: 10px;
  background-color: #5c2fa5;
  border-radius: 10px;  

}


a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

a:hover, button:hover {
  opacity: .7;
}

.navbar {
  list-style-type: none;
  padding: 0px;
}


.navbar .nav-item:not(:last-child) {
  float: right;
  padding: 10px;
  background-color: #5c2fa5;
  margin: 10px;
  background-color: #5c2fa5;
  border-radius: 10px;
}



.navbar .nav-item:last-child {
  float: left;
  padding: 10px 15px;
  margin: 10px;
  background-color: #5c2fa5;
  border-radius: 10px;
}

.hero-section {
  background-color: #04223E;
  background-image: url("https://wallpapercave.com/wp/wp5250055.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 16.8em 0 14.8em 0;
  border-radius: 0 0 50px 50px;
  
}

.hero-title {
  margin: 15px;
  text-align: center;
  padding: 100px 0;
  color: #fff;
font-size: 50px;  
}

.hero-description {
  margin: 0px;
  
}





.s-m-section {
  background: linear-gradient(45deg, #03192e, #03192e);
  padding: 20px;
  color: #FFF;
font-size: small;
}

.s-m-title {
  margin: 20px;
}

.s-m-descritpion {
  margin: 0 0 40px 0;
}

.s-m-btn {
  border: 2px solid #03192e;
  color: #03192e;
  padding: 8px 20px;
  background: 0;
}

.s-m-btn-2 {
  background-color: #03192e;
  color: #F47850;
}

.time-load-section {
  background: linear-gradient(0deg, #03192E 40%, #03192E 40%);
  padding: 25px 0;
  color: #FFF;
  margin: 50px;
}

.card-title {
  font-size: 27.5px;
}


.card {
  padding: 60px;
  border-radius: 10px;
  background: #FFF;
  color: #000;
  margin: auto;
  box-shadow: -1px 1px 20px 2px #00000030;
  padding-top: 5px;
  

}

.card-girl {
  text-align: center;
  border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
padding-top: 20px;
  }
.card-image {
width: 200px;
height: 200px;  
border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
}



.card-text{
padding-bottom: 30px;

}


.card-text2{
text-align: left;  
padding-top: 2px;
font-size: x-large;
}

.card-text3 {
color: green;  
}

.card-text4 {
  color: red;  
  }

  .card-text5 {
    text-align: left;  
  font-size: 25px;
  color: #977dec;
  padding-top: 15px;
  }

  .card-text6 {
  text-align: left;
  font-size: 25px;
  color: #d12d96;
  padding-top: 15px;
  }

  .card-text7 {
    text-align: left;
    font-size: 25px;
    color: #c5b423;
    padding-top: 15px; 
  }

  .card-text8 {
    text-align: left;
    font-size: 25px;
    color: #b953d8;
    padding-top: 15px; 
  }

  .card-text9 {
    text-align: left;  
    padding-top: 2px;
    font-size: 22px;
  }
  
  
.lofi-city {
  float: right;
margin-bottom: 10px;
margin-left: 5px;
margin-right: 220px;
border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
}

.statics-section {
  background-color: #03192E;
  color: #03192E;
  
}

.statics-description {
  margin: 10px 0 50px 0;
}

.statics-rows {
  flex: 33.33%;
}

.hero-btn {
  background: linear-gradient(45deg, #d350f4, #d350f4);
  padding: 10px 15px;
  margin: 10px;
  border-radius: 10px;
  color: #FFF;
}

.feutures-section {
  padding: 85px 60px;
  background-image: url("https://www9.lunapic.com/do-not-link-here-use-hosting-instead/161996912076438518?5538451479");
  background-repeat: no-repeat;
  background: linear-gradient(0deg, #fff 40%, #fff 40%);
  
}

.feutures-card {
  padding: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  
  
}

.container2 {
text-align: center;  
margin: 15px;
font-size: 50px;
}

.copyright {
  vertical-align: bottom;
  text-align: center;
}


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

}

@media (min-width: 576px) {
  .card {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .statics-rows {
    flex: 100%;
    -ms-flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .card {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }
  .statics-rows {
    flex: 33.33%;
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
}

@media (min-width: 992px) {
  .card {
    -ms-flex: 0 0 45%;
     flex: 0 0 45%; 
     max-width: 45%;
  }
  .statics-rows {
    flex: 33.33%;
    max-width: 33.33%;
    flex: 0 0 33.33%;
  }
}

