.cover {
background-color: #04223E;
  background-image: url("https://64.media.tumblr.com/d2ef9b09328b987e2122039a5bd5eeb0/tumblr_ovrznuokyr1vu5dwpo1_500.gifv");
  background-repeat: no-repeat;
  background-size: cover;
}
